body { }



/* =============================================================================
   Header
   ========================================================================== */


/* Fixed Topbar Navigation */
body.admin-bar .navbar-fixed-top{ 
	top: 28px; 
}

#main{
	margin-top: 60px;
}

.green{
	color: #008800;
}

.red{
	color: #990000;
}